<% var cssSec={ %>
<style>
.myPanel_datastatistics{
	width: 945px;
    height: 350px;
    border: 1px solid rgba(255,255,255,0.15);
}
.col-md-1_datastatistics{
 	padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    float: left;
}
.mylabel_datastatistics{
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
    float: right;
}
.col-md-4_datastatistics{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    width: 100%;
    float: left;
}
.form-group_datastatistics {
    margin-bottom: 5px;
}
.time{
	
    padding-top: 10px;
   width: 100%;
    float:left;
}
.datainp {
    width: 100%;
    height: 30px;
    border: 1px #ccc solid;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}
.row_datastatistics{
	width:100%;
	height:50px;
}
.column_label{
width:15%;
height:100%;
float: left;
}
.column_input{
width:35%;
height:100%;
float: left;
}
#Charts1{
width:945px;
height:300px;
}
#Charts2{
width:945px;
height:300px;
}
</style>
<link href="${cxt!}/ui/jedate/skin/jedate.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/DataTables/datatables.min.css"/>
<% }; %>

<% var contSec={ %>
<div class="myPanel_datastatistics">
	<!--div class="row_datastatistics">
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
	        <label>飞行器：</label>
	    		</div>
		</div>
		<div class="column_input">
			<div class="col-md-4_datastatistics form-group_datastatistics">
		       	<select multiple class="select" id="aircraft_datastatistics">
		       	  
		          <option value="option1">天宫一号</option>
		          <option value="option2">天宫二号</option>
		       	</select>
	    		</div>
		</div>
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
	        <label>载荷名称：</label>
	    		</div>
		</div>
		<div class="column_input">
			<div class="col-md-4_datastatistics form-group_datastatistics">
		       	<select multiple class="select" id="sensor_datastatistics">
		       	  
		          <option value="option1">宽波段</option>
		          <option value="option2">高度计</option>
		       	</select>
	    		</div>
		</div>
		
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
	        <label>产品类型：</label>
	    		</div>
		</div>
		<div class="column_input">
			<div class="col-md-4_datastatistics form-group_datastatistics">
		       <select multiple class="select" id="producttype_datastatistics">
		       	  
		          <option value="option1">IMG</option>
		          <option value="option2">AUX</option>
		          <option value="option1">SCI</option>
		          <option value="option2">ENG</option>
		       </select>
		    </div>
		</div>
	</div>
	<div class="row_datastatistics">
			<div class="column_label">
				<div class="col-md-1_datastatistics mylabel_datastatistics">
			        <label>产品级别：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="col-md-4_datastatistics form-group_datastatistics">
			       <select multiple class="select" id="productlevel_datastatistics">
			       	  <option value="option1">0B</option>
			          <option value="option2">0C</option>
			          <option value="option1">L0</option>
			          <option value="option2">L1</option>
			       </select>
			    </div>
			</div>
			
			<div class="column_label">
				<div class="col-md-1_datastatistics mylabel_datastatistics">
			        <label>产品标识：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="col-md-4_datastatistics form-group_datastatistics">
			       <select multiple class="select" id="camera_datastatistics">
			       	  <option value="option1">VNI</option>
			          <option value="option2">INF</option>
			        </select>
			    </div>
			</div>
			
			<div class="column_label">
				<div class="col-md-1_datastatistics mylabel_datastatistics">
			        <label>文件类型：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="col-md-4_datastatistics form-group_datastatistics">
			       <select multiple class="select" id="filetype_datastatistics">
			       	  <option value="option1">dat</option>
			          <option value="option2">csv</option>
			          <option value="option1">tif</option>
			          <option value="option2">h5</option>
			        </select>
			    </div>
			</div>
	</div-->
	<div class="row_datastatistics">
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
		        <label>接受开始时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_receiveTimeBeg" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
		
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
		        <label>接受结束时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_receiveTimeEnd" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
	</div>
	<div class="row_datastatistics">
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
		        <label>采集开始时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_collectStartTime" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
		<div class="column_label">
			<div class="col-md-1_datastatistics mylabel_datastatistics">
		        <label>采集结束时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_collectEndTime" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
	</div>
	<div class="row_datastatistics">
			<div class="column_label">
				<div class="col-md-1_datastatistics mylabel_datastatistics">
			        <label>入库开始时间：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="time">
			       <input class="datainp" id="dateinfo_DBstartTime" type="text" placeholder="请选择" readonly="">
			    </div>
			</div>
			
			<div class="column_label">
				<div class="col-md-1_datastatistics mylabel_datastatistics">
			        <label>入库结束时间：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="time">
			       <input class="datainp" id="dateinfo_DBEndTime" type="text" placeholder="请选择" readonly="">
			    </div>
			</div>
	</div>
	<div class="row_datastatistics">
			<div class="column_label">
				<div class="col-md-1_datastatistics mylabel_datastatistics">
			        <label>统计类别：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="col-md-4_datastatistics form-group_datastatistics">
			       <select  class="select" id="status">
			       	  <option value="10">下载</option>
			          <option value="11">备份</option>
			          <option value="12">归档</option>
			          <option value="13">检出</option>
			       </select>
			    </div>
			</div>
	</div>
	<div class="row_datastatistics">
			<div class="column_label">
					<div class="col-md-1_datastatistics mylabel_datastatistics">
				        <input id="doQuery_btn_datastatistics" name="doQuery_btn" type="button" value="查询统计" class="btn m-r-5"/>
				    </div>
			</div>
	</div>
	
<div class="row">
   <div class="col-md-4">

             <div class="tile">
                 <h2 class="tile-title">宽波段数据统计</h2>

                 <div class="listview narrow">

                     <div class="media">
                     		<div class="pull-right">
                             <div id="K_num" class="counts"></div>
                         </div>
                         <div class="media-body">
                             <h4>总数量(个)：</h4>
                         </div>
                     </div>
                     <div class="media">
                         <div class="pull-right">
                             <div id="K_vol" class="counts"></div>
                         </div>
                         <div class="media-body">
                             <h4>总容量(Mb)：</h4>
                         </div>
                     </div>
                     
                 </div>
             </div>

      </div>

          <div class="col-md-4">

              <div class="tile">
                  <h2 class="tile-title">高度计数据统计</h2>

                  <div class="listview narrow">

                      <div class="media">
                      		<div class="pull-right">
                              <div id="G_num" class="counts"></div>
                          </div>
                          <div class="media-body">
                              <h4>总数量(个)：</h4>
                          </div>
                      </div>
                      <div class="media">
                          <div class="pull-right">
                              <div id="G_vol" class="counts"></div>
                          </div>
                          <div class="media-body">
                              <h4>总容量(Mb)：</h4>
                          </div>
                      </div>
                 
					</div>
              </div>

          </div>

<div class="col-md-4">

    <div class="tile">
        <h2 class="tile-title">紫外数据统计</h2>

        <div class="listview narrow">

            <div class="media">
            		<div class="pull-right">
                    <div id="Z_num" class="counts"></div>
                </div>
                <div class="media-body">
                    <h4>总数量(个)：</h4>
                </div>
            </div>
            <div class="media">
                <div class="pull-right">
                    <div id="Z_vol" class="counts"></div>
                </div>
                <div class="media-body">
                    <h4>总容量(Mb)：</h4>
                </div>
            </div>


        </div>
    </div>

	</div>
</div>
	<div class="row">
		<div id="Charts1">
		</div>
	</div>
	<div class="row">
		<div id="Charts2">
		</div>
	</div>			
</div>
<% }; %>

<% var jsSec={ %>
	<script src="${cxt!}/ui/jedate/jedate.js"></script>
	<!-- DataTables -->
<script type="text/javascript" src="${cxt!}/ui/DataTables/datatables.min.js"></script>
<script src="${cxt!}/ui/SuperAdmin/js/echarts-all.js"></script>
<script src="${cxt!}/ui/datamotion/js/datastatistics.js"></script>
	<script>
	
	initPage();
	
	var myChart1 = echarts.init(document.getElementById('Charts1'));
	option1 = {
		    title : {
		        text: '载荷数据总数量统计图',
		        textStyle:{
		        		color: '#fff'
		        }
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    legend: {
			    	textStyle:{
		        		color: '#fff'
		        		},
		        //data:['L0','L1','L2']
		        	data:['0B','0C','L0','L1','L2','L3','L4','L5']
		    },
		    toolbox: {
		        show : true,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType : {show: true, type: ['line', 'bar']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    dataZoom: {
		        show: true,
		        start : 0,
		        end : 100
		    },
		    calculable : true,
		    grid: {y: 70, y2:30, x2:20},
		    xAxis : [
		        {
		            type : 'category',
		            axisLabel:{
		            		textStyle:{
				        		color: '#fff'
				        		}
	            		},
		            //data : ['宽波段','高度计','紫外']
	            		data : ['宽波段']
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value',
		            axisLabel:{
		            		formatter:'{value} 个',
		            		textStyle:{
				        		color: '#fff'
				        }
		            	}
		        }
		    ],
		    series : [
		        {
		            name:'0B',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false, position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'0C',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'L0',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'L1',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'L2',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'L3',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'L4',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        },
		        {
		            name:'L5',
		            type:'bar',
		            stack: '个数',
		            //itemStyle: {normal: {color:'rgba(193,35,43,1)', label:{show:true,textStyle:{color:'#ffffff'}}}},
		            itemStyle: {normal: {label:{show:false,position:'inside',textStyle:{color:'#ffffff'}}}},
		            data:[0]
		        }
		    ]
		};
	myChart1.setOption(option1);
	
	var myChart2 = echarts.init(document.getElementById('Charts2'));
	option2 = {
			title : {
		        text: '载荷数据总容量统计图',
		        textStyle:{
		        		color: '#fff'
		        }
		    },
		    tooltip : {
		        trigger: 'axis',
		        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
		            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
		        }
		    },
		    legend: {
			    	textStyle:{
		        		color: '#fff'
		        },
		        //data:['L0','L1','L2']
		        data:['0B','0C','L0','L1','L2','L3','L4','L5']
		    },
		    grid: {x:130,y: 70, y2:30, x2:30},
		    toolbox: {
		        show : true,
		        feature : {
		            mark : {show: true},
		            dataView : {show: true, readOnly: false},
		            magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},
		            restore : {show: true},
		            saveAsImage : {show: true}
		        }
		    },
		    calculable : true,
		    xAxis : [
		        {
		            type : 'value',
		            axisLabel:{
	            		formatter:'{value} Mb',
	            		textStyle:{
			        		color: '#fff'
			        }
	            	}
		        }
		    ],
		    yAxis : [
		        {
		            type : 'category',
		            //data : ['宽波段','高度计','紫外'],
		            data : ['宽波段'],
		            axisLabel:{
	            		textStyle:{
			        		color: '#fff'
			        		}
            			},
		        }
		    ],
		    series : [
		        {
		            name:'0B',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[320, 302, 301]
		            data:[0]
		        },
		        {
		            name:'0C',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[120, 132, 101]
		            data:[0]
		        },
		        {
		            name:'L0',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[220, 182, 191]
		            data:[0]
		        },
		        {
		            name:'L1',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[220, 182, 191]
		            data:[0]
		        },
		        {
		            name:'L2',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[220, 182, 191]
		            data:[0]
		        },
		        {
		            name:'L3',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[220, 182, 191]
		            data:[0]
		        },
		        {
		            name:'L4',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[220, 182, 191]
		            data:[0]
		        },
		        {
		            name:'L5',
		            type:'bar',
		            stack: '总量',
		            itemStyle : { normal: {label : {show: false, position: 'insideRight'}}},
		            //data:[220, 182, 191]
		            data:[0]
		        }
		    ]
		};
	myChart2.setOption(option2);
	
	jeDate({
		dateCell:"#dateinfo_receiveTimeBeg",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_receiveTimeEnd",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_collectStartTime",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_collectEndTime",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_DBstartTime",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_DBEndTime",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	</script>
<% }; %>
<% include("../f/commonTree.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){} %>