<% var cssSec={ %>
	<style>
        .block-area {
            margin-left: 0px;
        }

		/* start 边框 */
		.tab{
			width: 100%;
			height: 300px;
			
			border:1px solid rgba(255,255,255,0.15);
		}

		.tab-title{
			width: 100%;
			height: 10%;
			border:1px solid rgba(255,255,255,0.15);
		}
		
		.tab-title-location {
		    width: 100%;
		    font-weight: normal;
		    font-size: 16px;
		    line-height: 30px;
		    text-align: center;
		    background: rgba(0,0,0,0.35);
		       
		}

		.tab-content{
			width: 100%;
			/* height: 90%; */
			background: rgba(255,255,255,0.1); 
			border:1px solid rgba(255,255,255,0.15);
		}
		
		.tab-content-location{
			 margin: 30px; 
			
		}
		/* end 边框 */
		
		/* start 显示框（状态、已处理、待处理、失败数） */
		.tableWord{
			width: 60px;
		}
		.tableFrame {
		    margin: 6px;
		    height: 25px;
		    width: 200px;
		    padding: 1px 1px; 
		    font-size: 14px;
		    line-height: 1.42857143;
		    background: rgba(0, 0, 0, 0.05); 
		        
		    border: 0px solid rgba(255, 255, 255, 0.3);
		    border-radius: 4px;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
		    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		}
		/* end 显示框（状态、已处理、待处理、失败数） */
    </style>
<% }; %>

<% var contSec={ %>
	<section id="main" class="p-relative" role="main">
        <!-- Shortcuts -->
        <div class="block-area" id="text-input">
         	
            <table>
                <tr>
                    <td>
                        <form id="myForm01" role="form" class="p-15" action="">
                            <div class="tab" style="float: left">
                            	<div class="tab-title">
                            		<label class="tab-title-location">数据远程下载</label>
                            	</div>
                            	<div class="table-content">
                            		<div class="tab-content-location">
		                                <div>
		                                	<table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">状态：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#f4d525">
		                                				<label id="download_status" name="download_status" style="float:right">未初始化</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">待处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#006db5">
		                                				<label id="download_undoNum" name="download_undoNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">已处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#29a753">
		                                				<label id="download_dosucNum" name="download_dosucNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">失败数：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#e33c36">
		                                				<label id="download_dofailNum" name="download_dofailNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div align="center">
		                                	<label id="download_timeStart" name="download_timeStart" >启动时间：2016-10-10 10:10:10</label>
		                                </div>
		                                <div align="center">
		                                    <input id="start_Download" type="button" onclick="" value="启动" class="btn m-r-5"/>
		                                    <input id="restart_Download" type="button" onclick="" value="重启" class="btn m-r-5"/>
		                                    <input id="stop_Download" type="button" onclick="" value="停止" class="btn m-r-5"/>
		                                </div>
	                                </div>
                                </div>
                            </div>
                        </form>
                    </td>
                        
                    <td>
                    	<form id="myForm02" role="form" class="p-15" action="">
                            <div class="tab" style="float: left">
                            	<div class="tab-title">
                            		<label class="tab-title-location">数据存储备份</label>
                            	</div>
                            	<div class="table-content">
                            		<div class="tab-content-location">
		                                <div>
		                                	<table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">状态：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#f4d525">
		                                				<label id="backup_status" name="backup_status" style="float:right">未初始化</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">待处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#006db5">
		                                				<label id="backup_undoNum" name="backup_undoNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">已处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#29a753">
		                                				<label id="backup_dosucNum" name="backup_dosucNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">失败数：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#e33c36">
		                                				<label id="backup_dofailNum" name="backup_dofailNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div align="center">
		                                	<label id="backup_timeStart" name="backup_timeStart">启动时间：2016-10-10 10:10:10</label>
		                                </div>
		                                <div align="center">
		                                    <input id="start_BackUp" type="button" onclick="" value="启动" class="btn m-r-5"/>
		                                    <input id="restart_BackUp" type="button" onclick="" value="重启" class="btn m-r-5"/>
		                                    <input id="stop_BackUp" type="button" onclick="" value="停止" class="btn m-r-5"/>
		                                </div>
	                                </div>
                                </div>
                            </div>
                        </form> 
                    </td>
                </tr>
                <tr>
                	<td>
                        <form id="myForm03" role="form" class="p-15" action="">
                            <div class="tab" style="float: left">
                            	<div class="tab-title">
                            		<label class="tab-title-location">数据编目归档</label>
                            	</div>
                            	<div class="table-content">
                            		<div class="tab-content-location">
		                                <div>
		                                	<table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">状态：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#f4d525">
		                                				<label id="archiveFile_status" name="archiveFile_status" style="float:right">未初始化</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">待处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#006db5">
		                                				<label id="archiveFile_undoNum" name="archiveFile_undoNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">已处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#29a753">
		                                				<label id="archiveFile_dosucNum" name="archiveFile_dosucNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">失败数：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#e33c36">
		                                				<label id="archiveFile_dofailNum" name="archiveFile_dofailNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div align="center">
		                                	<label id="archiveFile_timeStart" name="archiveFile_timeStart">启动时间：2016-10-10 10:10:10</label>
		                                </div>
		                                <div align="center">
		                                    <input id="start_ArchiveFile" type="button" onclick="" value="启动" class="btn m-r-5"/>
		                                    <input id="restart_ArchiveFile" type="button" onclick="" value="重启" class="btn m-r-5"/>
		                                    <input id="stop_ArchiveFile" type="button" onclick="" value="停止" class="btn m-r-5"/>
		                                </div>
	                                </div>
                                </div>
                            </div>
                        </form>
                    </td>
                        
                    <td>
                    	<form id="myForm04" role="form" class="p-15" action="">
                            <div class="tab" style="float: left">
                            	<div class="tab-title">
                            		<label class="tab-title-location">数据检出发布</label>
                            	</div>
                            	<div class="table-content">
                            		<div class="tab-content-location">
		                                <div>
		                                	<table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">状态：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#f4d525">
		                                				<label id="checkOutFile_status" name="checkOutFile_status" style="float:right">未初始化</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">待处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#006db5">
		                                				<label id="checkOutFile_undoNum" name="checkOutFile_undoNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">已处理：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#29a753">
		                                				<label id="checkOutFile_dosucNum" name="checkOutFile_dosucNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div>
		                                    <table>
		                                		<tr>
		                                			<td>
		                                				<label class="tableWord">失败数：</label>
		                                			</td>
		                                			<td>
		                                			<div class="tableFrame" style="background-color:#e33c36">
		                                				<label id="checkOutFile_dofailNum" name="checkOutFile_dofailNum" style="float:right">0个</label>
		                                			</div>
		                                			</td>
		                                		</tr>
		                                	</table>
		                                </div>
		                                <div align="center">
		                                	<label id="checkOutFile_timeStart" name="checkOutFile_timeStart">启动时间：2016-10-10 10:10:10</label>
		                                </div>
		                                <div align="center">
		                                    <input id="start_CheckOutFile" type="button" onclick="" value="启动" class="btn m-r-5"/>
		                                    <input id="restart_CheckOutFile" type="button" onclick="" value="重启" class="btn m-r-5"/>
		                                    <input id="stop_CheckOutFile" type="button" onclick="" value="停止" class="btn m-r-5"/>
		                                </div>
	                                </div>
                                </div>
                            </div>
                        </form> 
                    </td>
                </tr>
            </table>
        	<input id="init" type="button" onclick="" value="刷新" class="btn m-r-5"/>
        </div>
</section>
<% }; %>

<% var jsSec={ %>
<script>
	jQuery(document).ready(function() {       
		<!--- ajax start-->
				$.ajax({
					type : "post",
					url : encodeURI(encodeURI(cxt
							+ "/jf/datamotion/t6_dwnloadfile/initControlPanel")),
					dataType : 'json',
					contentType : "application/x-www-form-urlencoded; charset=UTF-8",
					crossDomain : false,
					// 是否使用异步发送
					async : false,
					cache : false,
					success : function(response) {
						var undoNum_download = response.undoNum_download;
						var dosucNum_download = response.dosucNum_download;
						var dofailNum_download = response.dofailNum_download;
						var timeStart_download = response.timeStart_download;
						var status_download = response.status_download;
						$("#download_undoNum").html(undoNum_download);
						$("#download_dosucNum").html(dosucNum_download);
						$("#download_dofailNum").html(dofailNum_download);
						$("#download_timeStart").html(timeStart_download);
						if(status_download == 1){
							$("#download_status").html("正在运行");
						}
						else if(status_download == 0){
							$("#download_status").html("停止");
						}
						
						var undoNum_backup = response.undoNum_backup;
						var dosucNum_backup = response.dosucNum_backup;
						var dofailNum_backup = response.dofailNum_backup;
						var timeStart_backup = response.timeStart_backup;
						var status_backup = response.status_backup;
						$("#backup_undoNum").html(undoNum_backup);
						$("#backup_dosucNum").html(dosucNum_backup);
						$("#backup_dofailNum").html(dofailNum_backup);
						$("#backup_timeStart").html(timeStart_backup);
						if(status_backup == 1){
							$("#backup_status").html("正在运行");
						}
						else if(status_backup == 0){
							$("#backup_status").html("停止");
						}
						
						var undoNum_archive = response.undoNum_archive;
						var dosucNum_archive = response.dosucNum_archive;
						var dofailNum_archive = response.dofailNum_archive;
						var timeStart_archive = response.timeStart_archive;
						var status_archive = response.status_archive;
						$("#archiveFile_undoNum").html(undoNum_archive);
						$("#archiveFile_dosucNum").html(dosucNum_archive);
						$("#archiveFile_dofailNum").html(dofailNum_archive);
						$("#archiveFile_timeStart").html(timeStart_archive);
						if(status_archive == 1){
							$("#archiveFile_status").html("正在运行");
						}
						else if(status_archive == 0){
							$("#archiveFile_status").html("停止");
						}
						
						var undoNum_checkout = response.undoNum_checkout;
						var dosucNum_checkout = response.dosucNum_checkout;
						var dofailNum_checkout = response.dofailNum_checkout;
						var timeStart_checkout = response.timeStart_checkout;
						var status_checkout = response.status_checkout;
						$("#checkOutFile_undoNum").html(undoNum_checkout);
						$("#checkOutFile_dosucNum").html(dosucNum_checkout);
						$("#checkOutFile_dofailNum").html(dofailNum_checkout);
						$("#checkOutFile_timeStart").html(timeStart_checkout);
						if(status_checkout == 1){
							$("#checkOutFile_status").html("正在运行");
						}
						else if(status_checkout == 0){
							$("#checkOutFile_status").html("停止");
						}
					}
				}); 
		<!--- ajax end-->
		}); 
</script>
<script src="${cxt!}/ui/datamotion/js/controlpanel.js"></script>
<% }; %>
<% include("../f/commonTree.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){} %>
