<% var cssSec={ %>
<style>
.myPanel_backupfile{
	width: 945px;
    height: 350px;
    border: 1px solid rgba(255,255,255,0.15);
}
.col-md-1_backupfile{
 	padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    float: left;
}
.mylabel_backupfile{
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
    float: right;
}
.col-md-4_backupfile{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    width: 100%;
    float: left;
}
.form-group_backupfile {
    margin-bottom: 5px;
}
.time{
	
    padding-top: 10px;
   width: 100%;
    float:left;
}
.datainp {
    width: 100%;
    height: 30px;
    border: 1px #ccc solid;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}
.row_backupfile{
	width:100%;
	height:50px;
}
.column_label{
width:15%;
height:100%;
float: left;
}
.column_input{
width:35%;
height:100%;
float: left;
}

.dataTables_length select{
	    background-color: rgba(255,255,255,0.15);
}
</style>

<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/datamotion/css/archive.css" />
<link href="${cxt!}/ui/jedate/skin/jedate.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/DataTables/datatables.min.css" />

<% }; var contSec={ %>
<div class="myPanel_backupfile">
	<br>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel">
			<label>采集开始时间：</label>
		</div>
		<div class="col-md-4 col-sm-4 form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_collectStartTime" type="text"
					placeholder="请选择">
			</div>
		</div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>采集结束时间：</label>
		</div>
		<div class="col-md-4  col-sm-4 form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_collectEndTime" type="text"
					placeholder="请选择">
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel">
			<label>下载开始时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_DBstartTime" type="text"
					placeholder="请选择" >
			</div>
		</div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>下载结束时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_DBEndTime" type="text"
					placeholder="请选择" >
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel">
			<label>接受开始时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">

			<div class="time">
				<input class="datainp" id="dateinfo_receiveTimeBeg" type="text"
					placeholder="请选择">
			</div>
		</div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>接受结束时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">

			<div class="time">
				<input class="datainp" id="dateinfo_receiveTimeEnd" type="text"
					placeholder="请选择">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel"></div>
		<div class="col-md-4  col-sm-4  form-group"></div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>下载状态：</label>
		</div>
		<div class="col-md-2  col-sm-2 form-group">
			<select id="status" class="select">
				<option value="5">全部</option>
				<option value="0">未下载</option>
				<option value="1">下载成功</option>
				<option value="2">下载失败</option>
				<option value="3">已删除</option>
			</select>
		</div>
		<div class="col-md-2  col-sm-2">
			<a id="btnsrch" href="javascript:void()"
				class="btn btn-sm btn-alt wid100">查询</a>

		</div>
	</div>
	<hr class="whiter">
<!-- 	<br />
	<div class="row">
		<div class="col-md-4  col-sm-4">
			
		</div>
		<div class="col-md-4  col-sm-4"></div>
		<div class="col-md-2  col-sm-2">
			<a id="btnLocalDownload" href="javascript:void()" class="btn btn-sm btn-alt wid100">全部本地下载</a>
		</div>
		<div class="col-md-2  col-sm-2">
			<a id="btnReDownload" href="javascript:void()" class="btn btn-sm btn-alt wid100">全部重新下载</a>
		</div>

	</div>
	<p class="bottom_line"></p> -->
	<div class="row pad20">
		<div class="doQueryResultTable">
			<table id="myTable" class="display"></table>
		</div>
	</div>
</div>

<% }; %> <% var jsSec={ %>

<script src="${cxt!}/ui/jedate/jedate.js"></script>
<!-- DataTables -->
<script type="text/javascript"
	src="${cxt!}/ui/DataTables/datatables.min.js"></script>
<script>
	jeDate({
		dateCell : "#dateinfo_receiveTimeBeg",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_receiveTimeEnd",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_collectStartTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_collectEndTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_DBstartTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_DBEndTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	//ajax 发送查询参数数据
	var myTable;
	$(document).ready(function() {
 	   myTable=$('#myTable').DataTable( {
         "ajax":retrieveDataAjax,
            columns: [
                { title: "id" },
                { title: "ftp文件路径" },
                { title: "下载文件名称" },
                { title: "下载文件路径" },
                { title: "下载时间" },
                { title: "文件大小" },
              /*   { title: "接收站名称" },
                { title: "飞行器" },
                { title: "载荷名称" },
                { title: "数据类型" },
                { title: "数据级别" },
                { title: "产品标识" },
                { title: "下传时间" },
                { title: "拍摄开始时间" },
                { title: "拍摄结束时间" }, */
                { title: "状态"},
                { title: "添加时间" },
                { title: "操作" },
            ],
            "language": {
                "url": "${cxt!}/ui/DataTables/Chinese.json"
            },
            "scrollX": true,
            "columnDefs": 
         	   [ 
         	     {
             	    "targets": -3,
             	    "data": null,
             	    "render": function ( data, type, full, meta ) {
             	    	
             	    	
             	    	  if(data[15]=="0")
             	    	  {
             	    	  	return "未下载";
             	    	  }
             	      	else if(data[15]=="1")
             	    	  {
             	    	  	return "已下载";
             	    	  }
             	      else if(data[15]=="2")
             	    	  {
             	    	  	return "下载失败";
             	    	  }
             	      else{
             	    	  	return "已删除";
             	      }
             	      
             	    	}
         	  	} ,
             {
                "targets": -1,
                "data": null,
                "render": function ( data, type, full, meta ) {
             	   	//console.log(data);
          	    	  if(data[15]=="0")//未下载
          	    	  {
          	    	  	return "<input id='reDownLoad' name='reDownLoad' type='button' value='重新下载' class='btn m-r-5'/>"
                         +"<input id='doDeleteSeleted' name='doDeleteSeleted' type='button' value='删除' class='btn m-r-5'/>";
          	    	  }
          	      else if(data[15]=="1")//"已下载"
          	    	  {
          	    	  	return "<a href='http://localhost:8800/files/upload/TS_TG02_QKDS_PRD1_ENG_20161027170746_20161027170746_20161028165342_000_0C.csv'><input id='doLocalDownload' name='doLocalDownload' type='button' value='本地下载' class='btn m-r-5' /></a> "
                         +"<input id='doDeleteSeleted' name='doDeleteSeleted' type='button' value='删除' class='btn m-r-5'/>";
          	    	  }
          	      else if(data[15]=="2")//"下载失败"
          	    	  {
          	    	  	return "<input id='reDownLoad' name='reDownLoad' type='button' value='重新下载' class='btn m-r-5'/>"
                         +"<input id='doDeleteSeleted' name='doDeleteSeleted' type='button' value='删除' class='btn m-r-5'/>";
          	    	  }
          	      else{//"已删除"
          	    	  	return "";
          	      }
          	      
          	    	}
               /*  "defaultContent": "<input id='doLocalDownload' name='doLocalDownload_btn' type='button' value='本地下载' class='btn m-r-5' />"
                +"<input id='doNewBackup' name='doNewBackup_btn' type='button' value='重新备份' class='btn m-r-5'/>"
                +"<input id='doDeleteSeleted' name='doDeleteSeleted_btn' type='button' value='删除' class='btn m-r-5'/>"
                */
            } 
         	  	]
        } );
 	   
 	   $('#myTable tbody').on( 'click', '#doLocalDownload', function () {
	        var data = myTable.row($(this).parents('tr')).data();
	    } );
 	   
 	   $('#myTable tbody').on( 'click', '#reDownLoad', function () {
   	        var data = myTable.row($(this).parents('tr')).data();
   	     $.ajax( {    
    	        "type": "get",     
    	        "contentType": "application/json",    
    	        "url": encodeURI(encodeURI(cxt
  						+ "/jf/datamotion/t6_dwnloadfile/reDownLoad")),     
    	        "dataType": "json",    
    	        "data": {"id": data[0], "pathsrc": data[1], "namesrc": data[2], "pathdest": data[3]}, // 以json格式传递  
    	        "success": function(res) {    
    	        		//console.log(res);
                   var returnData = {};
                   returnData.data = res.data;
                   callback(returnData);
    	        }    
    	    });    
   	    } );
 	   
 	   $('#myTable tbody').on( 'click', '#doDeleteSeleted', function () {
  	        var data = myTable.row($(this).parents('tr')).data();
  	      $.ajax( {    
  	        "type": "get",     
  	        "contentType": "application/json",    
  	        "url": encodeURI(encodeURI(cxt
						+ "/jf/datamotion/t6_dwnloadfile/doDeleteSeleted")),     
  	        "dataType": "json",    
  	        "data": {"id": data[0], "pathsrc": data[1], "namesrc": data[2], "pathdest": data[3]}, // 以json格式传递  
  	        "success": function(res) {    
  	        		//console.log(res);
                 var returnData = {};
                 returnData.data = res.data;
                 callback(returnData);
  	        }    
  	    });    
  	    } );
 	   
    } );
    function retrieveDataAjax(data, callback, settings)
     {
 	   	 $.ajax( {    
  	        "type": "get",     
  	        "contentType": "application/json",    
  	        "url": encodeURI(encodeURI(cxt
						+ "/jf/datamotion/t6_dwnloadfile/getDataFromDatabase")),     
  	        "dataType": "json",    
  	        //"data": {"draw":draw,"start":start,"length":length}, // 以json格式传递  
  	        "success": function(res) {    
  	            //fnCallback(resp.aaData); 
  	            /* alert(resp);
  	        		console.log(resp); */
  	        	//封装返回数据，这里仅演示了修改属性名
  	        		//console.log(res);
                 var returnData = {};
                 /* returnData.draw = res.draw;//这里直接自行返回了draw计数器,应该由后台返回
                 returnData.recordsTotal = res.recordsTotal;
                 returnData.recordsFiltered = res.recordsFiltered;/ *///后台不实现过滤功能，每次查询均视作全部结果
                 returnData.data = res.data;
                 
                 //关闭遮罩
                 //$wrapper.spinModal(false);
                 //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                 //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                 callback(returnData);
  	        }    
  	    });    
     }
</script>
<script src="${cxt!}/ui/datamotion/js/jquery-json.js"></script>
<script src="${cxt!}/ui/datamotion/js/download.js"></script>
<% }; 
include("../f/commonTree.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){}
%>
