<% var cssSec={ %>
<style>

</style>

<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/datamotion/css/archive.css" />
<link href="${cxt!}/ui/jedate/skin/jedate.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="${cxt!}/ui/DataTables/datatables.min.css" />

<% }; var contSec={ %>
<div class="myPanel_backupfile">
	<br>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel">
			<label>采集开始时间：</label>
		</div>
		<div class="col-md-4 col-sm-4 form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_collectStartTime" type="text"
					placeholder="请选择">
			</div>
		</div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>采集结束时间：</label>
		</div>
		<div class="col-md-4  col-sm-4 form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_collectEndTime" type="text"
					placeholder="请选择">
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel">
			<label>下载开始时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_DBstartTime" type="text"
					placeholder="请选择" >
			</div>
		</div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>下载结束时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">
			<div class="time">
				<input class="datainp" id="dateinfo_DBEndTime" type="text"
					placeholder="请选择" >
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel">
			<label>接受开始时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">

			<div class="time">
				<input class="datainp" id="dateinfo_receiveTimeBeg" type="text"
					placeholder="请选择">
			</div>
		</div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>接受结束时间：</label>
		</div>
		<div class="col-md-4  col-sm-4  form-group">

			<div class="time">
				<input class="datainp" id="dateinfo_receiveTimeEnd" type="text"
					placeholder="请选择">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2  col-sm-2 mylabel"></div>
		<div class="col-md-4  col-sm-4  form-group"></div>

		<div class="col-md-2  col-sm-2 mylabel">
			<label>下载状态：</label>
		</div>
		<div class="col-md-2  col-sm-2 form-group">
			<select id="status" class="select">
				<option value="5">全部</option>
				<option value="1">下载成功</option>
				<option value="2">下载失败</option>
				<option value="3">未下载</option>
				<option value="0">未检出</option>
			</select>
		</div>
		<div class="col-md-2  col-sm-2">
			<a id="btnsrch" href="javascript:void()"
				class="btn btn-sm btn-alt wid100">查询</a>

		</div>
	</div>
	<hr class="whiter">
	<br />
	<div class="row">
		<div class="col-md-4  col-sm-4">
			
		</div>
		<div class="col-md-4  col-sm-4"></div>
		<div class="col-md-2  col-sm-2">
			<a id="btndownload" href="javascript:void()" class="btn btn-sm btn-alt wid100">全部本地下载</a>
		</div>
		<div class="col-md-2  col-sm-2">
			<a id="btncheckout" href="javascript:void()" class="btn btn-sm btn-alt wid100">全部重新下载</a>
		</div>

	</div>
	<p class="bottom_line"></p>
	<div class="row pad20">
		<div class="doQueryResultTable">
			<table id="myTable" class="display"></table>
		</div>
	</div>
</div>

<% }; %> <% var jsSec={ %>

<script src="${cxt!}/ui/jedate/jedate.js"></script>
<!-- DataTables -->
<script type="text/javascript"
	src="${cxt!}/ui/DataTables/datatables.min.js"></script>
<script>
	jeDate({
		dateCell : "#dateinfo_receiveTimeBeg",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_receiveTimeEnd",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_collectStartTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_collectEndTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_DBstartTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})
	jeDate({
		dateCell : "#dateinfo_DBEndTime",
		format : "YYYY-MM-DD hh:mm:ss",
		isinitVal : true,
		isTime : true, //isClear:false,
		minDate : "2014-09-19 00:00:00",
		okfun : function(val) {
			alert(val)
		}
	})

	
	var dataSet = [
<% 
var cnt = 0;
for(node in list){ 
	cnt ++;
	if(nodeLP.last){%>
	[ "${cnt}", "${node.namesrc!}", "${node.pathsrc!}", "${node.pathdest!}", "${node.timedo!}", "${node.key_!}"]
	
	<%}
	else {%>
	[ "${cnt}", "${node.namesrc!}", "${node.pathsrc!}", "${node.pathdest!}", "${node.timedo!}", "${node.key_!}"],
	<%}
}%>			
	];

	$(document).ready(function() {
		$('#myTable').DataTable({
			data : dataSet,
			columns : [ {
				title : "序号"
			}, {
				title : "文件名"
			}, {
				title : "原路径"
			}, {
				title : "下载路径"
			}, {
				title : "下载时间"
			}, {
				title : "操作"
			} ],
			"language" : {
				"url" : "${cxt!}/ui/DataTables/Chinese.json"
			}
		});
	});
	//ajax 发送查询参数数据
		
</script>
<script src="${cxt!}/ui/datamotion/js/jquery-json.js"></script>
<script src="${cxt!}/ui/datamotion/js/download.js"></script>
<% }; 
include("../f/commonTree.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){}
%>
