<% var cssSec={ %>

<% }; %>

<% var contSec={ %>
	<h4 class="page-title" align="center">系统配置</h4>
    <section id="content" class="container">
	    <center>
	    	<div id="treeDiv">
		    	<ul id="treeDemo" class="ztree"></ul>
		    </div>
	    </center>
	</section>
<% }; %>

<% var jsSec={ %>
	<script type="text/javascript">
    	//定义全局
    	var treeNodes;
        var setting = {
            view: {
                addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false
            },
            edit: {
                enable: true,
                showRemoveBtn: showRemoveBtn,
                editNameSelectAll: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onClick: onClick,
                onRightClick: onRightClick,
                beforeEditName: beforeEditName,
                beforeRemove: beforeRemove,
                beforeRename: beforeRename
            }
        };
      	//读取树
        treeNodes = [
			<% for(node in resInit){ 
				if(nodeLP.last){%>
					{
						id: "${node.key_!}", 
						pId: "${node.parentkeys!}", 
						name: "${node.namechi!}", 
						open: true
					}
				
				<%}
				else {%>
					{
						id: "${node.key_!}", 
						pId: "${node.parentkeys!}", 
						name: "${node.namechi!}", 
						open: true
					},
				<%}
			}%>			
        ];

        /*显示添加按钮*/
        function addHoverDom(treeId, treeNode) {   
            var sObj = $("#" + treeNode.tId + "_span");
            if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
            var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                    + "' title='add node' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $("#addBtn_"+treeNode.tId);
            /*增加节点：点击事件*/
            if (btn) btn.bind("click", function(){   
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                var parentNode=treeNode.id;
                parentNode=parentNode.split("_");
                var currentId;
                /*
                	如果当前节点不是父节点，则新增节点命名只需在level上加1;
                	如果当前节点事父节点，则新增节点的名称为父节点的最后一个孩子节点的名称加1
                */
                if(treeNode.isParent==false){
                    currentId=(parseInt(parentNode[0])+1)+"_"+(parseInt(parentNode[1]));
                }else {
                	var childNode=treeNode.children[treeNode.children.length-1];//获取最后一个孩子节点
                	childNode=childNode.id.split("_");
                	currentId=(parseInt(parentNode[0])+1)+"_"+(parseInt(childNode[1])+1);
                }
                zTree.addNodes(treeNode, {id:currentId, pId:treeNode.id, name:"new node" + (currentId)});
                $.post(
                	'${cxt!}/jf/datamotion/t11_initfoldertree/addTreeNode',
                	{//传入参数
                		key_:currentId,
                		parentkeys:treeNode.id,
                		namechi:"new node"+currentId
                	}
                );
                return false;
            });
        };
        
        /*修改节点：点击事件*/
        function beforeEditName(treeId, treeNode) {    
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.selectNode(treeNode);
            setTimeout(function() {
                if (confirm("确认修改节点--" + treeNode.name + "--的名称吗？")) {
                    setTimeout(function() {
                        zTree.editName(treeNode);
                    }, 0);
                }
            }, 0);
            return false;
        }
        function beforeRename(treeId, treeNode, newName, isCancel) {
            if (newName.length == 0) {
                setTimeout(function() {
                    var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                    zTree.cancelEditName();
                    alert("节点名称不能为空！");
                }, 0);
                return false;
            }
            $.post(
                '${cxt!}/jf/datamotion/t11_initfoldertree/modifyTreeNode',
               	{
                	key_:treeNode.id,
                	newName:newName
               	}
            );
            return true;
        }
        
        /*删除节点：点击事件*/
        function beforeRemove(treeId, treeNode) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo");
            zTree.selectNode(treeNode);
            if(confirm("确认删除节点 --" + treeNode.name + "--吗？")){
            	var childObj=treeNode.getParentNode().children;
            	var childkeys="";
            	for(var i=0;i<childObj.length;i++){
            		if(childObj[i].id==treeNode.id)continue;
            		if(i==childObj.length-1)
            			childkeys+=childObj[i].id;
            		else childkeys+=childObj[i].id+"-";
            	}
            	if(childkeys[childkeys.length-1]=='-'){
            		childkeys=childkeys.substring(0,childkeys.length-1);
            	}
            	$.post(
                	'${cxt!}/jf/datamotion/t11_initfoldertree/delTreeNode',
                    {
                     	key_:treeNode.id,
                     	childkeys:childkeys
                    }
                );
                return true;
            };
            return false;
        }
        //显示删除按钮
        function showRemoveBtn(treeId, treeNode) {
        	if(treeNode.isParent==true){
        		var childObj=treeNode.children;
        		//如果该节点的孩子节点存在是父节点，则不显示删除按钮
        		for(var i=0;i<childObj.length;i++){
        			if(childObj[i].isParent==true)
        				return false;
        		}
        	} 
        	//根节点不显示删除按钮
            if(treeNode.pId==null)return false;
            else return true;
        }
        //叶子节点的点击事件
        function onClick(event, treeId, treeNode) {
        	console.log(treeNode.children);
        	if(treeNode!=null&&treeNode.isParent==false){
            	console.log(treeNode.name);
            };	
        }
        
        function onRemove(e, treeId, treeNode) {
            console.log("delete:"+treeNode.id);
        }
  
        function onRightClick(event, treeId, treeNode) {
            console.log("rightClick dosomething.....");
        }

        function beforeDrag(treeId, treeNodes) {
            return false;
        }
        
        
        function onRename(e, treeId, treeNode, isCancel) {
        	console.log("修改？");
            console.log((isCancel ? "<span style='color:red'>":"") + "[ "+getTime()+" onRename ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name + (isCancel ? "</span>":""));
        }
        
        function showRenameBtn(treeId, treeNode) {
            //return !treeNode.isLastNode;
            return treeNode;
        }

        function getTime() {
            var now= new Date(),
                    h=now.getHours(),
                    m=now.getMinutes(),
                    s=now.getSeconds(),
                    ms=now.getMilliseconds();
            return (h+":"+m+":"+s+ " " +ms);
        }

        //鼠标移动是否显示按钮
        function removeHoverDom(treeId, treeNode) {
            $("#addBtn_"+treeNode.tId).unbind().remove();
        };
		
        //初始化树
        $(document).ready(function () {
            $.fn.zTree.init($("#treeDemo"), setting, treeNodes);
        });
    </script>
<% }; %>
<% include("common.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){} %>