<% var cssSec={ %>

<% }; %>

<% var contSec={ %>
<div class="myPanelModelInfo tile" style="margin-left: 3px">
	<h3 class="block-title">文件信息</h3>
 	<p class="bottom_line"></p>
 	<table class="row">
	    <tr>
	        <td><label class="mylabel">飞行器：</label></td>
	        <td width="200px">
		        <select id="aircraft" name="aircraft" class="select">
		            <option value="天宫一号">天宫一号</option>
		            <option value="天宫二号">天宫二号</option>
		        </select>
			</td>
			<td><label class="mylabel">载荷：</label></td>
	        <td width="200px">
		        <select id="sensor" name="sensor" class="select">
		            <option value="高度计">高度计</option>
		            <option value="宽波段">宽波段</option>
		        </select>
			</td>
			<td><label class="mylabel">数据类型：</label></td>
	        <td width="200px">
		        <select id="datatype" name="datatype" class="select">
		            <option value="IMG">IMG</option>
		            <option value="AUX">AUX</option>
		            <option value="SCI">SCI</option>
		            <option value="ENG">ENG</option>
		        </select>
			</td>
	    </tr>
	    <tr>
	        <td><label class="mylabel">产品标识：</label></td>
	        <td width="200px">
		        <select id="camera" name="camera" class="select">
		            <option value="VNI">VNI</option>
		            <option value="INF">INF</option>
		        </select>
			</td>
			<td><label class="mylabel">产品等级：</label></td>
	        <td width="200px">
		        <select id="datalevel" name="datalevel" class="select">
		            <option value="0B">0B</option>
		            <option value="0C">0C</option>
		            <option value="L1">L1</option>
		            <option value="L2">L2</option>
		        </select>
			</td>
			
	    </tr>
	</table>
 	<h3 class="block-title">下载配置</h3>
 	<p class="bottom_line"></p>
 	<table class="row">
	    <tr>
	        <td><label class="mylabel">是否下载：</label></td>
	        <td width="200px">
		        <select id="isdwnload" name="isdwnload" class="select">
		            <option value="true">是</option>
		            <option value="false">否</option>
		        </select>
			</td>
			<td><label class="mylabel">FTP路径：</label></td>
            <td><input id="pathftp" name="pathftp" type="text" class="form-control myinput"/></td>
			<td><label class="mylabel">下载路径：</label></td>
            <td><input id="pathdwnload" name="pathdwnload" type="text" class="form-control myinput"/></td>
		</tr>
 	</table>
 	<h3 class="block-title">备份配置</h3>
 	<p class="bottom_line"></p>
 	<table class="row">
	    <tr>
	        <td><label class="mylabel">是否备份：</label></td>
	        <td width="200px">
		        <select id="isbackup" name="isbackup" class="select">
		            <option value="true">是</option>
		            <option value="false">否</option>
		        </select>
			</td>
			<td><label class="mylabel">备份路径：</label></td>
            <td><input style="width:400px" id="pathbackup" name="pathbackup" type="text" class="form-control"/></td>
		</tr>
 	</table>
 	<h3 class="block-title">归档配置</h3>
 	<p class="bottom_line"></p>
 	<table class="row">
	    <tr>
	        <td><label class="mylabel">是否归档：</label></td>
	        <td width="200px">
		        <select id="isarchive" name="isarchive" class="select">
		            <option value="true">是</option>
		            <option value="false">否</option>
		        </select>
			</td>
			<td><label class="mylabel">归档路径：</label></td>
            <td><input style="width:400px" id="patharchive" name="patharchive" type="text" class="form-control"/></td>
		</tr>
 	</table>
 	<h3 class="block-title">检出配置</h3>
 	<p class="bottom_line"></p>
 	<table class="row">
	    <tr>
	        <td><label class="mylabel1">是否检出：</label></td>
	        <td width="200px">
		        <select id="ischeckout" name="ischeckout" class="select">
		            <option value="true">是</option>
		            <option value="false">否</option>
		        </select>
			</td>
			<td><label class="mylabel1">检出路径：</label></td>
            <td><input style="width:400px" id="pathcheckout" name="pathcheckout" type="text" class="form-control"/></td>
         </tr>
         <tr>
            <td><label class="mylabel1">原文件名规则：</label></td>
            <td colspan="3"><input style="width:600px" id="namemdlsrc" name="namemdlsrc" type="text" class="form-control"/></td>
         </tr>
         <tr>
            <td><label class="mylabel1">改名规则：</label></td>
            <td colspan="3"><input style="width:600px" id="namemdldes" name="namemdldes" type="text" class="form-control"/></td>
		</tr>
		<tr>
	        <td><label class="mylabel1">是否有辅助数据：</label></td>
	        <td width="200px">
		        <select id="ishavaaux" name="ishavaaux" class="select">
		            <option value="true">是</option>
		            <option value="false">否</option>
		        </select>
			</td>
			<td><label class="mylabel1">辅助数据格式：</label></td>
            <td><input style="width:400px" id="auxfiletypes" name="auxfiletypes" type="text" class="form-control"/></td>
         </tr>
 	</table>
 	<br>
	<div class="col-md-12 form-group" align="center"> 
		<input id="modelSave" type="button" value="保存" class="btn m-r-5"/>
    </div>
    <br>
    <br>
</div>
<% }; %>

<% var jsSec={ %>
<script src="${cxt!}/ui/SuperAdmin/js/myConfigTree.js"></script>
	<script type="text/javascript">
    	//定义全局
    	var treeNodes;
        var setting = {
            view: {
                //addHoverDom: addHoverDom,
                removeHoverDom: removeHoverDom,
                selectedMulti: false
            },
            edit: {
                enable: true,
                showRemoveBtn: showRemoveBtn,
                editNameSelectAll: true
            },
            data: {
                simpleData: {
                    enable: true
                }
            },
            callback: {
                onClick: onClick,
                onRightClick: onRightClick,
                beforeEditName: beforeEditName,
                beforeRemove: beforeRemove,
                beforeRename: beforeRename
            }
        };
      	//读取树
        treeNodes = [
			<% for(node in resInit){ 
				if(nodeLP.last){%>
					{
						id: "${node.key_!}", 
						pid: "${node.parentkeys!}", 
						name: "${node.namechi!}", 
						open: true
					}
				
				<%}
				else {%>
					{
						id: "${node.key_!}", 
						pid: "${node.parentkeys!}", 
						name: "${node.namechi!}", 
						open: true
					},
				<%}
			}%>			
        ];
    </script>
<% }; %>
<% include("common.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){} %>