body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1380px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:260px;
  top:160px;
  width:1110px;
  height:710px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:710px;
}
#u1 {
  position:absolute;
  left:2px;
  top:347px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:270px;
  top:80px;
  width:1100px;
  height:80px;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:19px;
  width:1096px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:48px;
  font-size:28px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:58px;
}
#u6 {
  position:absolute;
  left:2px;
  top:8px;
  width:1376px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:58px;
  width:240px;
  height:850px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:860px;
}
#u8 {
  position:absolute;
  left:2px;
  top:417px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
