body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1380px;
  height:48px;
  font-size:28px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1390px;
  height:58px;
}
#u2 {
  position:absolute;
  left:2px;
  top:8px;
  width:1376px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:58px;
  width:240px;
  height:850px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:860px;
}
#u4 {
  position:absolute;
  left:2px;
  top:417px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:254px;
  top:63px;
  width:1126px;
  height:697px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:697px;
}
#u6 {
  position:absolute;
  left:2px;
  top:340px;
  width:1122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:250px;
  top:770px;
  width:1140px;
  height:290px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:290px;
}
#u8 {
  position:absolute;
  left:2px;
  top:137px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
