<% var cssSec={ %>
<style>
.myPanel_backupfile{
	width: 945px;
    height: 350px;
    border: 1px solid rgba(255,255,255,0.15);
}
.col-md-1_backupfile{
 	padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    float: left;
}
.mylabel_backupfile{
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    text-align: right;
    color: #ffffff;
    float: right;
}
.col-md-4_backupfile{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    width: 100%;
    float: left;
}
.form-group_backupfile {
    margin-bottom: 5px;
}
.time{
	
    padding-top: 10px;
   width: 100%;
    float:left;
}
.datainp {
    width: 100%;
    height: 30px;
    border: 1px #ccc solid;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}
.row_backupfile{
	width:100%;
	height:50px;
}
.column_label{
width:15%;
height:100%;
float: left;
}
.column_input{
width:35%;
height:100%;
float: left;
}

.dataTables_length select{
	    background-color: rgba(255,255,255,0.15);
}
</style>
<link href="${cxt!}/ui/jedate/skin/jedate.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="${cxt!}/ui/DataTables/datatables.min.css"/>
<% }; %>

<% var contSec={ %>
<div class="myPanel_backupfile">
	
	<div class="row_backupfile">
		<div class="column_label">
			<div class="col-md-1_backupfile mylabel_backupfile">
		        <label>接受开始时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_receiveStartTime_backup" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
		<div class="column_label">
			<div class="col-md-1_backupfile mylabel_backupfile">
		        <label>接受结束时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_receiveEndTime_backup" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
	</div>
	<div class="row_backupfile">
		<div class="column_label">
			<div class="col-md-1_backupfile mylabel_backupfile">
		        <label>采集开始时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_collectStartTime_backup" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
		<div class="column_label">
			<div class="col-md-1_backupfile mylabel_backupfile">
		        <label>采集结束时间：</label>
		    </div>
		</div>
		<div class="column_input">
			<div class="time">
		       <input class="datainp" id="dateinfo_collectEndTime_backup" type="text" placeholder="请选择" readonly="">
		    </div>
		</div>
	</div>
	<div class="row_backupfile">
			<div class="column_label">
				<div class="col-md-1_backupfile mylabel_backupfile">
			        <label>备份开始时间：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="time">
			       <input class="datainp" id="dateinfo_backupStartTime" type="text" placeholder="请选择" readonly="">
			    </div>
			</div>
			
			<div class="column_label">
				<div class="col-md-1_backupfile mylabel_backupfile">
			        <label>备份结束时间：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="time">
			       <input class="datainp" id="dateinfo_backupEndTime" type="text" placeholder="请选择" readonly="">
			    </div>
			</div>
	</div>
		
	<div class="row_backupfile">
			<div class="column_label">
				<div class="col-md-1_backupfile mylabel_backupfile">
			        <label>备份状态：</label>
			    </div>
			</div>
			<div class="column_input">
				<div class="col-md-4_backupfile form-group_backupfile">
			       <select  class="select" id="backupstatus">
			       	  <option value="4">全部</option>
			       	  <option value="0">未备份</option>
			          <option value="1">已备份</option>
			          <option value="2">备份失败</option>
			          <option value="3">已删除</option>
			       </select>
			    </div>
			</div>
	</div>
	<div class="row_backupfile">
			<div class="column_label">
					<div class="col-md-1_backupfile mylabel_backupfile">
				        <input id="doQuery_btn_backup" name="doQuery_btn" type="button" value="查询" class="btn m-r-5"/>
				    </div>
			</div>
			<div class="column_input">
					
			</div>
			
			<div class="column_label">
					<div class="col-md-1_backupfile mylabel_backupfile">
				        <input id="doAllLocalDownload_btn" name="doAllLocalDownload_btn" type="button" value="全部本地下载" class="btn m-r-5"/>
				    </div>
			</div>
			<div class="column_label">
					<div class="col-md-1_backupfile mylabel_backupfile">
				        <input id="doAllNewBackup_btn" name="doAllNewBackup_btn" type="button" value="全部重新备份" class="btn m-r-5"/>
				    </div>
			</div>
	</div>
	
	<div class="doQueryResultTable">
		<table id="myTable" class="display nowrap" cellspacing="0" style="width:100%;background-color: rgba(255, 255, 255, .15);"></table>	
	</div>
			
</div>
<% }; %>

<% var jsSec={ %>
	<script src="${cxt!}/ui/jedate/jedate.js"></script>
	<!-- DataTables -->
<script type="text/javascript" src="${cxt!}/ui/DataTables/datatables.min.js"></script>

<script src="${cxt!}/ui/datamotion/js/backup.js"></script>
	<script>
	jeDate({
		dateCell:"#dateinfo_receiveStartTime_backup",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_receiveEndTime_backup",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_collectStartTime_backup",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_collectEndTime_backup",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_backupStartTime",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	jeDate({
		dateCell:"#dateinfo_backupEndTime",
		format:"YYYY-MM-DD hh:mm:ss",
		isinitVal:true,
		isTime:true, //isClear:false,
		minDate:"2014-09-19 00:00:00",
		okfun:function(val){alert(val)}
	})
	
	/*
	var dataSet = [
               [0,"c://path","name","c://path","2015-12-12 08:20:59",100,"TS","TG-2","ZW","dat","L1","SCI","2015-12-12 08:20:59","2015-12-12 08:20:59","2015-12-12 08:20:59",1,"2015-12-12 08:20:59",""],
               [1,"c://path","name","c://path","2015-12-12 08:20:59",100,"TS","TG-2","ZW","dat","L1","SCI","2015-12-12 08:20:59","2015-12-12 08:20:59","2015-12-12 08:20:59",1,"2015-12-12 08:20:59",""]
               
               ];
          */  
         var myTable;
           $(document).ready(function() {
        	   myTable=$('#myTable').DataTable( {
                   //data: dataSet,
                   //ajax: '',
                "processing": true,
        			"serverSide": true,
        			"bFilter" : false, //过滤功能
        			"bSort" : false,// 排序  
                 /* "bDestroy" : true,
            		"bProcessing" : true,
	            "sAjaxSource" : encodeURI(encodeURI(cxt
						+ "/jf/datamotion/t7_backupfile/getDataFromDatabase")),
	            "bServerSide" : true, 
	            "fnServerData": retrieveData,*/
	            "ajax":retrieveDataAjax,
                   columns: [
                       { title: "id" },
                       { title: "源文件路径" },
                       { title: "备份文件名称" },
                       { title: "备份文件路径" },
                       { title: "备份时间" },
                       { title: "文件大小" },
                       { title: "接收站名称" },
                       { title: "飞行器" },
                       { title: "载荷名称" },
                       { title: "数据类型" },
                       { title: "数据级别" },
                       { title: "产品标识" },
                       { title: "下传时间" },
                       { title: "拍摄开始时间" },
                       { title: "拍摄结束时间" },
                       { title: "状态" },
                       { title: "添加时间" },
                       { title: "操作" },
                   ],
                   "language": {
                       "url": "${cxt!}/ui/DataTables/Chinese.json"
                   },
                   "scrollX": true,
                   "columnDefs": [ {
                       "targets": -1,
                       "data": null,
                       "defaultContent": "<input id='doLocalDownload' name='doLocalDownload_btn' type='button' value='本地下载' class='btn m-r-5' />"
                       +"<input id='doNewBackup' name='doNewBackup_btn' type='button' value='重新备份' class='btn m-r-5'/>"
                       +"<input id='doDeleteSeleted' name='doDeleteSeleted_btn' type='button' value='删除' class='btn m-r-5'/>"
                      
                   } ]
               } );
        	   
        	   $('#myTable tbody').on( 'click', '#doLocalDownload', function () {
       	        var data = myTable.row($(this).parents('tr')).data();
       	        alert( data[0]+" doLocalDownload");
       	    } );
        	   
        	   $('#myTable tbody').on( 'click', '#doNewBackup', function () {
          	        var data = myTable.row($(this).parents('tr')).data();
          	        alert( data[0]+" doNewBackup");
          	    } );
        	   
        	   $('#myTable tbody').on( 'click', '#doDeleteSeleted', function () {
         	        var data = myTable.row($(this).parents('tr')).data();
         	        alert( data[0]+" doDeleteSeleted");
         	    } );
        	   
           } );
           function retrieveDataAjax(data, callback,settings)
            {
        	   		//console.log(data);
        	   	var draw = data["draw"];
        	   	
        	   	var start = data["start"];
        	   	var length = data["length"];
        	   	
        	   	//alert(draw+","+start+","+length);
        	   	 $.ajax( {    
         	        "type": "get",     
         	        "contentType": "application/json",    
         	        "url": encodeURI(encodeURI(cxt
 							+ "/jf/datamotion/t7_backupfile/getDataFromDatabase")),     
         	        "dataType": "json",    
         	        "data": {"draw":draw,"start":start,"length":length}, // 以json格式传递  
         	        "success": function(res) {    
         	            //fnCallback(resp.aaData); 
         	            /* alert(resp);
         	        		console.log(resp); */
         	        	//封装返回数据，这里仅演示了修改属性名
         	        		console.log(res);
                        var returnData = {};
                        returnData.draw = res.draw;//这里直接自行返回了draw计数器,应该由后台返回
                        returnData.recordsTotal = res.recordsTotal;
                        returnData.recordsFiltered = res.recordsFiltered;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.data = res.data;
                        
                        //关闭遮罩
                        //$wrapper.spinModal(false);
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
         	        }    
         	    });    
            }
           function retrieveData( sSource, aoData, fnCallback ) {    
        	    // 将客户名称加入参数数组  
        	   //aoData.push( { "name": "customerName", "value": "asdas" } );//添加自己的额外参数  
        	     //alert(aoData[0].name);  
        	     //alert(JSON.stringify(aoData));
        	     var sEcho="";
        	     var iDisplayStart="";
        	     var iDisplayLength="";
        	     for(var i=0;i<aoData.length;i++)
        	    	 {
        	    	 	if(aoData[i].name=="sEcho")
      	    	 	{
        	    	 		sEcho=aoData[i].value;
      	    	 	}
        	    	 	if(aoData[i].name=="iDisplayStart")
         	    	{
        	    	 		iDisplayStart=aoData[i].value;
         	    	}
        	    	 	if(aoData[i].name=="iDisplayLength")
             	{
        	    	 		iDisplayLength=aoData[i].value;
             	}
        	    	 	if(sEcho!=""&&iDisplayStart!=""&&iDisplayLength!="")
        	    	 	{
        	    	 		break;
        	    	 	}
        	    	 }
        	    $.ajax( {    
        	        "type": "get",     
        	        "contentType": "application/json",    
        	        "url": encodeURI(encodeURI(cxt
							+ "/jf/datamotion/t7_backupfile/getDataFromDatabase")),     
        	        "dataType": "json",    
        	        "data": {"sEcho":sEcho,"iDisplayStart":iDisplayStart,"iDisplayLength":iDisplayLength}, // 以json格式传递  
        	        "success": function(resp) {    
        	            //fnCallback(resp.aaData); 
        	            alert(resp);
        	        		console.log(resp);
        	        }    
        	    });    
        	}    
	</script>
<% }; %>
<% include("../f/commonTree.html",{cssSec:cssSec,contSec:contSec,jsSec:jsSec}){} %>